form{
    margin: 200px auto;
    width: 500px;
    height: 250px;
    text-align: center;
    background-color: rgb(51, 195, 206);
    border-radius: 30px;
}
input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
label{
    width: 100%;

}
#submit{
    width: 50%;
    font-weight: bolder;
    border-radius: 30px;
    background-color: rgb(226, 30, 200);
}

#submit:hover{
    background-color: green;
}
body{
    background-image: url("/static/image/d.jpg");
    background-size: cover  ;
}